/*
** Variables
*/
$zero:                  0;
$none:                  none;
$full-width:            100vw;
$full-height:           100vh;

/*
** Layout Sizes
*/
$gap-base:              100px;

/*
** Layout positions
*/
$right:                 right;
$left:                  left;
$center:                center;

/*
** Font Sizes
*/
$font-size-xs:          8px;
$font-size-sm:          11px;
$font-size-md:          16px;
$font-size-xm:          22px;
$font-size-lg:          28px;
$font-size-xl:          36px;

/*
** Colors
*/
$transparent:           transparent;
$white:                 #FFF;
$black:                 #000;
$color-1:               #FF8E05;
$color-2:               #DEDCD6;
$color-3:               #0275d2;
$color-4:               #0043ff;
$color-5:               #EBECED;



